{% extends 'widgets/widget_template.html' %}
{% load custom_template %}

{% block custom_title_prop %}{% if title_logo %}style="background-size: auto 60%; background-position: 50%; background-repeat: no-repeat; background-image: url('/app_resource/{{ title_logo }}');"{% endif %}{% endblock %}
{% block title1 %}{{ title1 }}{% endblock %}
{% block title2 %}{{ title2 }}{% endblock %}
{% block custom_tools %}
{% endblock %}
{% block widget_content %}

<div>
    <!-- Main Div -->
    <hr/>
    <hr/>
    {% for result in results %} <!-- loop for each result -->
        {% if result.data.linkset %}
            {% for linkcontent in result.data.linkset %}
                {% autoescape off %}
                    <a style="text-decoration: underline; font-size: medium;" target="_blank" href="{{linkcontent.url}}">{{linkcontent.descriptor}}</a>
                    <hr/>
                {% endautoescape %}
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>

{% endblock %}

